.contact__info {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 40px;
}

.contact__info-group {
    box-sizing: border-box;
    width: 50%;
    padding: 10px 60px;
}

.contact__map-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact__times-list .contact__times-label {
    padding-right: 20px;
}

.contact__times-list .contact__times-time {
    text-align: right;
}

@media only screen and ( max-width: 600px ){

    .contact__info {
        flex-direction: column;
    }

    .contact__info-group {
        box-sizing: border-box;
        width: auto;
        padding: 0px;
    }

}