.hero-slider {
    height: 400px;
    padding: 0 20px;
    margin-bottom: 40px;
}

.main-tiles {
    /* border: 1px solid green; */
    height: 400px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    margin-bottom: 40px;
}

.main-posts {
    /* border: 1px solid blue; */
    flex: 1;
}

.main-tiles__tile {
    background: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.main-tiles__tile:nth-child(2) {
    background: teal;
    grid-column: 2 / span 2;
}

.main_blurb-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    background: teal;
    color: white;
    width: 80%;
    padding: 40px 20px;
    margin: auto;
}

.main_blurb-title {
    margin-bottom: 20px;
}

.main_blurb-text {
    margin-bottom: 40px;
    font-size: 1rem;
    line-height: 1.5rem;
    width: calc(100% - 40px);
}

.main_blurb-link,
.main_blurb-link:visited {
    color: white;
    font-size: 1rem;
}


@media only screen and (max-width: 600px) {

    .hero-slider {
        display: none;
    }

    .main-tiles {
        display: flex;
        flex-direction: column;
        width: calc(100% - 10px);
        padding: 5px;
        margin-bottom: 20px;
        height: auto;
    }

    .main_blurb-wrapper {
        width: calc(100% - 10px);
        padding: 20px 0px;
    }

}