.footer {
    width: 1024px;
    margin: auto;
    height: 300px;
    align-self: flex-end;
}

.footer__salutations {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

.footer__content {
    padding: 40px;
}