.header {
    display: flex;
    padding: 5px 40px;
    align-items: center;
    box-shadow: 0px 4px 8px rgba( 0, 0, 0, .5 );
    margin-bottom: 20px;
}

.header__menu a,
.header__menu a:visited
{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.header__menu {
    display: flex;
    list-style: none;
}

.header__menu li {
    margin-right: 20px;
}

.header__menu a:hover {
    border-bottom: 1px solid white;
}


.header > * {
    margin-right: 30px;
}

.header > *:last-child {
    margin-right: 0px;
}

.header__logo {
    height: 80px;
}


:root {
    --blue: #217786;
    --orange: #c19763;
    --red: #8f4438;
    --beige: #cca678;
    --green: #65684c;
}

html, body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, Georgia, sans-serif;
    height: 1500px;
}

body {
    background:
        
        linear-gradient( 185deg, rgba( 255, 255, 255, 0) 1200px, rgba( 255, 255, 255, 1) 1201px ),
        linear-gradient( 135deg, var( --blue ) 500px, rgba( 255, 255, 255, 0) 501px, rgba( 255, 255, 255, 0) calc( calc( 100% - 1300px ) - 1px), var( --orange ) calc( 100% - 1300px ) )
    ;
} 